@mixin box($width, $height){
	width:$width; 
	height:$height;
}

@mixin border-radius($radius) {
	border-radius: $radius;
	background-clip: padding-box;
}

@mixin absolute($top: auto, $right: auto, $bottom: auto, $left: auto) {
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
	position: absolute;
}

@mixin vertical-align {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin horizontal-align {
    position: absolute;
	left: 50%;
    transform: translateX(-50%);
}

@mixin vertical-horizontal-align{
	@include vertical-align;
	left:0px; right:0px; margin-left:auto; margin-right:auto;
}


@mixin flex{
    display: flex;
    flex-wrap: wrap;
}

@mixin flex-start{
    justify-content: flex-start;
}

@mixin flex-end{
    justify-content: flex-end;
}

@mixin flex-center{
    justify-content: center;
}

@mixin flex-space-between{
    justify-content: space-between;
}

@mixin flex-space-around{
    justify-content: space-around;
}

@mixin transition($length: .25s, $what: all, $easing: ease-in-out) {
    transition:$what $length $easing;
}


@mixin hidden(){
	opacity:0; visibility: hidden;
}
@mixin visible(){
	opacity:1; visibility: visible;
}


@mixin reset_button(){
	padding:0px; border:none; background:none; @include border-radius(0px); text-align:center;
	cursor:pointer;
	&:focus{
		outline:0;
	}
}

@mixin reset_ul(){
	margin:0px; padding:0px; @include flex; @include flex-start;
	li{
		list-style: none;
	}
}

@mixin reset_ul_block(){
	margin:0px; padding:0px; display:block;
	li{
		list-style: none;
	}
}

@mixin fontawsome($icon: "\f08c"){
	position: relative;
	&:before {
		content: $icon;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		
		/*--adjust as necessary--*/
		color: inherit;
		font-size: inherit;
		position: absolute;
		top: 0px;
		left: 0px;
	}
}

@mixin typography{
	h1{
		//margin-bottom: $content-margin;
	}
	h2{
		//margin-bottom: $content-margin;
	}
	h3{
		//margin-bottom: $content-margin;
	}
	h4{
		//margin-bottom: $content-margin;
	}
	h5{
		//margin-bottom: $content-margin;
	}
	h6{
		//margin-bottom: $content-margin;
	}
	.alignnone {
	    margin: 0px 0px $img-margin 0px;
	}
	.aligncenter,
	div.aligncenter {
	    display: block;
	    margin: 0px auto $img-margin auto;
	}
	.alignright {
	    float:right;
	    margin: 0px 0px $img-margin $img-margin;
	}
	.alignleft {
	    float: left;
	    margin: 0px $img-margin $img-margin 0px;
	}
	a img.alignright {
	    float: right;
	    margin: 0px 0px $img-margin $img-margin;
	}
	a img.alignnone {
	    margin: 0px 0px $img-margin 0px;
	}
	a img.alignleft {
	    float: left;
	    margin: 0px $img-margin $img-margin 0px;
	}
	a img.aligncenter {
	    display: block;
	    margin-left: auto;
	    margin-right: auto
	}
	img{
		height:auto;
	}

	ul, ol{
		margin:0px 0px $content-margin 0px; 
		padding:0px 0px 0px 20px; overflow:hidden;
	}

	a{
		color:$main_color; text-decoration:underline;
	}
	a:hover{
		text-decoration: none;
	}

	p{
		margin:0px 0px $content-margin 0px;
	}

	blockquote{
		/* margin:0px 0px $content-margin 0px;
		p:last-child{
			margin-bottom:0px;
		} */
	}
}


@mixin the-carousel{
	.the-carousel{
		position: relative;
		.the-slide{
			position: relative;
		}

		.slick-arrow{
			@include vertical-align; z-index: 2;
			cursor: pointer;
			&.slick-prev{
				left:0px;
			}
			&.slick-next{
				left:auto; right:0px;
			}
		}

		ul.slick-dots{
			@include reset_ul; @include flex-center;
			li{
				button{
					cursor: pointer;
				}

				&.slick-active{
					button{
						color:red;
					}
				}
			}
		}
	}
}